body {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "sidebar library library library"
    "sidebar library library library"
    "sidebar library library library";
}

/* header */
.header {
    grid-area: header;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}

.h1-container {
    height: 8em;
    width: 16em;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    justify-items: center;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
}

/* sidebar/form */
#user-form{
    grid-area: sidebar;
    height: auto;
    width: 10rem;
    background-color: burlywood;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    display: grid;
    grid-template-rows: 20%, 1fr;
    grid-template-areas: 
    "new-book-btn"
    "formElement";
}

#formElement {
    grid-area: formElement;
    height: 100%;
    width: 1fr;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-areas:
    "title title"
    "author author"
    "page-count ."
    "read ."
    "deletebtn deletebtn";
}

#new-book-btn {
    grid-area: new-book-btn;
    height: 2rem;
    width: auto;
    margin: 10px;

}

/* Library display */
/* Need to make container/divs display better as a hybrid grid. */
#library-container {
    display: grid;
    grid-area: library;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
}

.bookListDiv {
    height: 1fr;
    width: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: chartreuse;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#new-title {
    grid-area: title;
}

#new-author {
    grid-area: new-author;
}

#new-pages {
    grid-area: page-count;
}

#read {
    grid-area: read;
}