/* next project will be centering and positioning each form element in each book. */

body {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "sidebar library library library"
    "sidebar library library library"
    "sidebar library library library";
}

/* header */
.header {
    grid-area: header;
    height: 100%;
    width: auto;
    background-color: #0c4a6e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #a5f3fc;
}

.h1-container {
    height: 8em;
    width: 16em;
    border-style: solid;
    border-color: #a5f3fc;
    color: #a5f3fc;
    font-family: 'Mukta', sans-serif;
    border-width: 4px;
    justify-items: center;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
}

/* sidebar/form */
#user-form{
    grid-area: sidebar;
    height: auto;
    width: 10rem;
    background-color: #0c4a6e;
    border-style: solid;
    border-width: 4px;
    border-color: #a5f3fc;
    color: #a5f3fc;
    font-family: 'Mukta', sans-serif;
    display: grid;
    grid-template-rows: 10%, 90%;
    grid-template-areas: 
    "new-book-btn"
    "formElement";
    justify-self: flex-start;
   
}

#formElement {
    grid-area: formElement;
    height: 100%;
    width: 1fr;
    justify-items: center;
    align-self: flex-start;
    display: grid;
    grid-template-areas:
    "title title"
    "author author"
    "page-count ."
    "read ."
    "deletebtn deletebtn";
    flex-wrap: wrap;
}

#new-book-btn {
    grid-area: new-book-btn;
    height: 2rem;
    width: auto;
    margin: 10px;

}

/* Library display */
/* Need to make container/divs display better as a hybrid grid. */
#library-container {
    display: grid;
    grid-area: library;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    row-gap: 12em;
}

.singleBook {
    height: 40vh;
    width: 20vw;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: #a7f3d0;
    border-left: 10px solid #064e3b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "title title" 
    "author author"
    "pages pages"
    " read-button-class delete-button-class";
}

.title {
    grid-area: title;
    height: 100%;
    width: auto;
    justify-self: center;
    font-family: 'Playfair Display', serif;
    font-size: large;
    font-weight: bolder;
    flex-wrap: wrap;
}

.author {
    grid-area: author;
    height: 100%;
    width: auto;
    justify-self: center;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    font-weight: 200;
}

.pages {
    grid-area: pages;
    height: 100%;
    width: auto;
    justify-self: center;
    font-family: 'Playfair Display', serif;
    
}

.read-button-class {
    grid-area: read-button-class;
    height: 100%;
    width: auto;

}
.delete-button-class {
    grid-area: delete-button-class;
    
}



